SESSION_SECRET="pgWN1x4LkdX9YrgcqP/jd1azxVbUFnhuOfdWYmEt4w1e78ToqCH+qadfP8zL+ZWPjCFdEsNSUlVBmMsdsD0SDA=="
SQL_SERVER_HOST="103.205.66.184"
SQL_SERVER_PASSWORD="tFbs89!0Ryyx1^90"
SQL_SERVER_PORT="2499"
SQL_SERVER_USER="qo8yhe"
KALEYRA_SID="XTRCOVR"
KALEYRA_
SQL_SERVER_DATABASE="bbgdb"
PAYU_MERCHANT_ID="12475562"
PAYU_MERCHANT_KEY="bLOqgi"
PAYU_SALT="XBXFDgikwovTa1gSBnT7qQoVSOTypGxJ"
PAYU_CLIENT_ID="64b4bad09a5dc7bdeaaa4838cf13b88486a951825290d209ee55cfbee6142296"
PAYU_CLIENT_SECRET="15ed49627b6bdd70d30b9d3c6603581ab44509c7016ada029589e86aa7c37c55"
PAYU_BASE_URL="https://secure.payu.in"
# Override for PayU redirect URLs (production domain)
PAYU_REDIRECT_BASE_URL=https://bbgtest.xtracover.com
NODE_ENV=production
PORT=5000